{% extends 'base.html.twig' %}

{% block title %}New Donante{% endblock %}

{% block body %}
    <h1>Create new Donante</h1>

    {{ include('donante_crud/_form.html.twig') }}

    <a href="{{ path('app_donante_crud_index') }}">back to list</a>
{% endblock %}
